.get-price {
    margin: 69px 0px 0px;

    &__title {
        margin: 0px 0px 23px;
        padding: 0px 10px;
    }

    &__row {
        margin: 0px -10px;
    }

    &__column {
        padding: 0px 10px;
        margin: 0px 0px 19px;
        text-align: center;
        flex: 1 1 auto;
        
        &:last-child{
            margin-bottom: 0px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px 10px 29px;
        background-color: $color-gray;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }

    &__circle{
        width: 80px;
        height: 80px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        background-color:#fff;
        border-radius: 50%;
    }

    &__name {
        font-size: 26px;
        line-height: 31px;
        font-weight: 500;
        margin: 13px 0px 0px;
    }

    &__descr {
        margin: 6px 0px 14px;
        line-height: 32px;
    }

    &__button {
        padding-left: 32px;
        padding-right: 32px;
        margin-top: auto;
    }

    @media screen and (min-width: 960px) {
        margin: 97px 0px 0px;

        &__title{
            margin: 0px auto 27px;
            max-width: 850px;
        }
        &__row{
            flex-direction: row;
            padding: 0px 10px;
        }
        &__column{
            margin: 0px;
            flex: 1 0 50%;
        }

        &__name{
            margin: 23px 0px 0px;
        }

        &__descr{
            margin: 11px 20px 14px;
        }

        &__content{
            padding: 45px 13px 35px;
        }

        &__circle{
            width: 100px;
            height: 100px;
        }
    }

    @media screen and (min-width: 1440px) {
        margin: 144px 0px 0px;

        &__title{
            margin-bottom: 44px;
        }
        &__row{
            padding: 0px;
            margin: 0px -18px;
        }
        &__column{
            padding: 0px 18px;
            min-height: 575px;
        }

        &__content{
            padding: 125px 50px 85px;
        }

        &__descr{
            max-width: 380px;
        }

        &__name{
            margin: 33px 0px 0px;
        }

        &__descr{
            margin-top: 24px;
        }

    }

    @media screen and (min-width: 1920px) {
        margin: 106px 0px 0px;

        &__row{
            padding: 0px 70px;
            margin: 0px -10px;
        }

        &__column{
            padding: 0px 10px;
            min-height: 660px;
        }

        &__content{
            padding-top: 185px;
            padding-bottom: 110px;
        }
    }

}
