$font-main: 'PT Sans', Verdana, Arial,  sans-serif;

$font-secondary: 'EB Garamond', Verdana, Arial, sans-serif;

$color-primary: #2979ff;

$color-dark: #333333;

$color-warning: #d50000;

$color-sucess: #11c339;

$color-main: #E5B64C;

$color-green: #b4e13d;

$color-blue: #3779BD;

$color-yellow: #E5B64C;

$color-red: #AA1916;

$color-darkblue: #02225c;

$color-skyblue: #5fc3f1;

$color-gray: #808080;

$box-shadow-default: 2px 2px 4px rgba(0, 0, 0, 0.1);

$spacing: 15px;

$spacing-double: ($spacing * 2);

$letter: 0.020em;
