.features {
    color: $color-dark;
    background: #f7f7f7;
    margin: 70px 0px 0px;
    font-size: 16px;

    &__row{
        justify-content: space-between;
    }

    &__container {
        padding-top: 46px;
        padding-bottom: 32px;
    }

    &__col {
        margin-bottom: 29px;
        min-width: 320px;
        flex: 1 0 25%;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__name{
        line-height: 20px;
        font-weight: 500;
    }

    &__text{
        margin-top: 6px;
        line-height: 32px;
        color: $color-darkgray;
    }

    &__icon{
        min-width: 45px;
        max-width: 45px;
        max-height: 46px;
        flex-shrink: 1;
        margin-right: 32px;
    }

    &__item{
        align-items: flex-start;
    }

    @media screen and (min-width: 960px) {
        margin: 43px 0px 0px;

        &__row{
            padding: 0px 60px;
        }
        &__col{
            margin-bottom: 21px;
            flex: 1 0 50%;
        }
    }

    @media screen and (min-width: 1440px) {
        margin: 111px 0px 0px;
        &__container{
            padding-top: 52px;
            padding-bottom: 18px;
        }
        &__row{
            padding: 0px;
        }
        &__col{
            flex: 1 0 25%;
        }
        &__item{
            flex-direction: column;
        }
        &__info{
            margin: 27px 0px 0px;
        }
        &__text{
            max-width: 80%;
        }
    }

    @media screen and (min-width: 1920px) {
        margin: 49px 0px 0px;
    }
}
