.contacts {
    &__heading {
        margin: 26px 0 38px;
    }

    &__item {
        margin-bottom: 30px;
    }

    &__title a {
        color: inherit;
        text-decoration: none;
    }

    &__desc {
        margin-top: 10px;
    }

    &__btn {
        margin-top: 12px;
        width: 100%;
    }

    @include media(md) {
        display: flex;

        &__map {
            width: 46.9%;
            background-color: #ccc;
        }

        &__container {
            flex: 1;
            padding-left: 40px;
            padding-right: 80px;
        }

        &__breadcrumbs {
            margin-top: 16px;   
        }

        &__heading {
            margin: 8px 0 36px;
        }

        &__item {
            margin-bottom: 34px;
        }
    }

    @include media(lg) {
        &__map {
            width: 50.7%;
        }

        &__container {
            padding-left: 80px;
            padding-right: 150px;
        }

        &__heading {
            margin: 38px 0 52px;
        }

        &__item {
            margin-bottom: 46px;
        }
    }

    @include media(xl) {
        &__map {
            width: calc(50% - 148px);
        }

        &__container {
            margin-left: 0;
            max-width: 800px;
            padding: 0 160px;
        }
    }
}
